.ic-btn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  padding: 5px;
}
body,
input,
textarea,
select,
button {
  font-family: serif;
  font-size: inherit;
  font-family: inherit;
}
